.parrafo1{text-align: center;}
.parrafo1{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.parrafo1{color: rgb(226, 204, 103);}
.parrafo1 {
    float:center;    
     margin: 0 15px 0 0;
    }
.parrafo1{font-size: larger;}    

.header1{text-align: center;}
.header1{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.header1{color: rgb(226, 204, 103);}
.header1 {
    float:center;    
     margin: 0 15px 0 0;
    }
    .header1{font-size: larger;}    

    .footer1{font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
    .footer1{color: rgb(214, 224, 119);}    

.parrafo3{text-align: center;}
.parrafo3{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.parrafo3{color: rgb(226, 204, 103);}
.parrafo3 {
    float:center;    
     margin: 0 15px 0 0;
    }
.parrafo3{font-size: larger;}    

.header2{text-align: center;}
.header2{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.header2{color: rgb(226, 204, 103);}
.header2 {
    float:center;    
     margin: 0 15px 0 0;
    }
    .header2{font-size: larger;} 



    
.header3{text-align: center;}
.header3{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.header3{color: rgb(226, 204, 103);}
.header3 {
    float:center;    
     margin: 0 15px 0 0;
    }
    .header3{font-size: larger;} 

    
.parrafo4{text-align: center;}
.parrafo4{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.parrafo4{color: rgb(226, 204, 103);}
.parrafo4 {
    float:center;    
     margin: 0 15px 0 0;
    }
.parrafo4{font-size: larger;}    

    
.header4{text-align: center;}
.header4{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.header4{color: rgb(226, 204, 103);}
.header4 {
    float:center;    
     margin: 0 15px 0 0;
    }
    .header4{font-size: larger;} 


    
    .header5{text-align: center;}
    .header5{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
    .header5{color: rgb(226, 204, 103);}
    .header5 {
        float:center;    
         margin: 0 15px 0 0;
        }
        .header5{font-size: larger;} 


        .parrafo5{text-align: center;}
.parrafo5{font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.parrafo5{color: rgb(226, 204, 103);}
.parrafo5 {
    float:center;    
     margin: 0 15px 0 0;
    }
.parrafo5{font-size: larger;}    

    


    
    

